n8n/workflow-1a-gmail-resume.json
{
  "name": "ATSGO — Gmail Resume → Candidate Profile",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "hasAttachment": true
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter: only process emails that have a PDF attachment\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Check subject for resume-related keywords\n  const subject = (item.json.subject || '').toLowerCase();\n  const keywords = ['resume', 'cv', 'application', 'apply'];\n  const isRelevant = keywords.some(k => subject.includes(k));\n\n  // Check for PDF attachment\n  const hasPdf = Object.keys(item.binary || {}).some(key => {\n    const mime = item.binary[key].mimeType || '';\n    const name = (item.binary[key].fileName || '').toLowerCase();\n    return mime === 'application/pdf' || name.endsWith('.pdf');\n  });\n\n  if (hasPdf) {\n    // Find the first PDF attachment key\n    const pdfKey = Object.keys(item.binary).find(key => {\n      const mime = item.binary[key].mimeType || '';\n      const name = (item.binary[key].fileName || '').toLowerCase();\n      return mime === 'application/pdf' || name.endsWith('.pdf');\n    });\n\n    results.push({\n      json: {\n        ...item.json,\n        _pdfBinaryKey: pdfKey,\n        _fromEmail: item.json.from?.value?.[0]?.address || '',\n        _subject: item.json.subject || ''\n      },\n      binary: item.binary\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Filter PDF Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json._pdfBinaryKey }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a resume parser. Extract information from the resume text and return ONLY a JSON object with these fields: name (string), email (string), phone (string or null), skills (array of strings, max 10), summary (one sentence about the candidate), jobTitle (most recent job title or applied role).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text || $json.data || '') }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Parse Resume with GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { name: 'Unknown', email: '', skills: [], summary: '' };\n}\n\n// Get metadata from previous steps\nconst pdfFileName = $('Filter PDF Attachments').first().binary?.[$('Filter PDF Attachments').first().json._pdfBinaryKey]?.fileName || 'resume.pdf';\n\nreturn [{\n  json: {\n    name: parsed.name || 'Unknown',\n    email: parsed.email || $('Filter PDF Attachments').first().json._fromEmail || '',\n    phone: parsed.phone || null,\n    skills: parsed.skills || [],\n    summary: parsed.summary || '',\n    resumeFileName: pdfFileName,\n    source: 'gmail',\n    status: 'applied'\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Build Candidate Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Create Candidate in ATSGO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Filter PDF Attachments", "type": "main", "index": 0 }]]
    },
    "Filter PDF Attachments": {
      "main": [[{ "node": "Extract PDF Text", "type": "main", "index": 0 }]]
    },
    "Extract PDF Text": {
      "main": [[{ "node": "Parse Resume with GPT-4o-mini", "type": "main", "index": 0 }]]
    },
    "Parse Resume with GPT-4o-mini": {
      "main": [[{ "node": "Build Candidate Object", "type": "main", "index": 0 }]]
    },
    "Build Candidate Object": {
      "main": [[{ "node": "Create Candidate in ATSGO", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "atsgo" }]
}
